<nav class="navbar navbar-expand-lg navbar-light bg-light mt-5">
	<a class="navbar-brand" href="/">
		<h1><i class="fas fa-dragon"></i>&nbsp;Tutor Tinder</h1>
	</a>
	<a href="/edit_availability" class="btn btn-primary">Edit Availability</a>&nbsp;
	<a href="/edit_courses" class="btn btn-primary">Edit Courses</a>&nbsp;
	<a href="/auth/logout" class="btn btn-secondary">Logout</a>
</nav>